<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>PosadasLaLinda</title>
</head>

<body>
  <!-- incorporar
    Navbar fijo con menú responsive (hamburguesa)
    Cards para mostrar artículos turísticos
    Formularios estilizados (login, registro, comentarios)
    Botones con estados (hover, active)
    Alertas (éxito, error)
    Modal para comentarios o formularios
    Paginación (si hay muchos artículos) 
  -->

</body>

</html>